name: Update Weather Image

on:
  schedule:
    - cron: '0 * * * *' # Run every hour
  workflow_dispatch:      # Allows manual trigger

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Download and Resize Image
        run: |
          sudo apt-get update
          sudo apt-get install -y imagemagick

          # 1. Download the raw weather image
          curl "https://wttr.in/Mumbai.png?0Q" --output weather-orig.png

          # 2. IMAGE MAGIC:
          # -resize 180%   -> Makes the text bigger (Zoom In)
          # -background white -> Adds white background
          # -gravity center -> Centers the image
          # -extent 600x800 -> Forces the final image to be exact Kindle size
          # -colorspace Gray -> Ensures no "Black Bar" error
          
          convert weather-orig.png -resize 180% -background white -gravity center -extent 600x800 -colorspace Gray -depth 8 -type Grayscale weather-gray.png

      - name: Save Image to GitHub
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add weather-gray.png
          git commit -m "Update weather" || echo "No changes"
          git push
