name: Update Weather Image

on:
  schedule:
    - cron: '0 * * * *' # Run every hour
  workflow_dispatch:      # Allows manual trigger

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Download and Polish Image
        run: |
          sudo apt-get update
          sudo apt-get install -y imagemagick

          # 1. Download Raw Image
          curl "https://wttr.in/Mumbai.png?0Q" --output weather-orig.png

          # 2. THE MAGICAL TRANSFORMATION
          # -negate: Swaps Black background to White (Kindle style)
          # -resize 300%: Makes text big and readable
          # -gravity center: Puts it in the middle
          # -background white: Fills the empty space with white
          # -extent 600x800: Forces the image to cover the ENTIRE screen (hides KUAL)
          
          convert weather-orig.png -negate -resize 300% -gravity center -background white -extent 600x800 -colorspace Gray -depth 8 -type Grayscale weather-gray.png

      - name: Save Image to GitHub
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add weather-gray.png
          git commit -m "Update weather" || echo "No changes"
          git push
